@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  overflow-x: hidden;
  padding: 10px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.blog-cont {
  max-width: 800px;
  width: 95%;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(49 199 172);
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
@media screen and (max-width: 750px) {
  .blog-cont {
    /* width: 350px; */

  }
}
  


.section-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.section-1 .title {
  font-size: 40px;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .section-1 .title {
    font-size: 30px;
    font-weight: 600;
  }
}
  

.section-1 .creator {
  background-color: rgb(45, 43, 43);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 10px;
}

hr {
  margin: 20px 0px;
  width: 100%;
  border: none;
  border-top: 3px solid rgb(5, 5, 5);
  display: block;
  margin: auto;
}

.section-2 {
  display: flex;
  margin-top: 20px;
}

.section-2 img {
  width: 200px;
  height: fit-content;
  padding: 0px 10px;
}

.section-2 p {
  display: flex;
}

.section-3 {
  display: flex;
  justify-content: flex-end;
}

.section-3 p {
  background-color: #2d2b2b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.addblog-form {
  display: flex;
  width: 95%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 30px;

  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 20px;
}

.addblog-form p {
  font-size: 30px;
  font-weight: 600;
  color: rgb(23, 23, 21);
}

.addblog-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addblog-form form input {
  background-color: aliceblue;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  outline: none;
}

.addblog-form form textarea {
  background-color: aliceblue;

  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  outline: none;
  resize: vertical;
}
label{
  font-size: 20px;
  font-weight: 600;
  color: rgb(23, 23, 21);
  margin:10px 0px;
}

.btn-cotainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-cotainer button {
  width: min-content;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(5, 5, 5);
  color: beige;
}

.btn-cotainer :hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

.noblog {
  color: black;
  font-size: 50px;
  margin-left: 300px;
  margin-top: 250px;
}